##Generic ignores from epd
### IPythonNotebook template
# Temporary data
.ipynb_checkpoints/
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# IPython Notebook
.ipynb_checkpoints

##This project

# web stuff
.sass-cache/
bower_components/
node_modules/
*.map

images/
animate/*.svg
*_2016/
Aug*/
running*/
*.out
*.log
*.png
*.jpg

*~
*#